<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home title</title>
</head>

{% block body %}
<body>
  {% include "header.njk" %}

  {% block main %}
  <main>
    {% block content %}This is the default content{% endblock %}
  </main>
  {% endblock %}
</body>
{% endblock %}
</html>
