<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block  page_title %}{% endblock %}</title>

  {% block  styles %}{% endblock %}
</head>

{% block body %}
<body>
  {% include "./partials/header.njk" %}

  {% block main %}
  <main>
    {% block content %}This is the default content{% endblock %}
  </main>
  {% endblock %}

  {% include "./partials/footer.njk" %}

  {% block  scripts %}{% endblock %}
</body>
{% endblock %}
</html>
